<h3>Lists</h3>
<h3>A list is a sequence</h3>

In [1]:
'''Like a string, a list is a sequence of values. In a string, the values are characters; in a list,
they can be any type. The values in a list are called elements or sometimes items.'''

cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [17, 23]
empty = []
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [17, 23] []

<h3>Lists are mutable</h3>

In [2]:
'''The syntax for accessing the elements of a list is the same as for accessing the characters
of a stringâ€”the bracket operator. The expression inside the brackets specifies the index.'''

print(cheeses[0])

Cheddar

In [3]:
'''When the bracket operator appears on the left side of an assignment, it identifies the element of the list
that will be assigned. One one-th element of numbers, which used to be 123 is now 5.'''

numbers = [17, 123]
numbers[1] = 5
numbers

[17, 5]

In [4]:
'''List indices work the same way as string indices:

* any integer expression can be used as an index
* if you try to read or write an element that does not exist, you get an IndexError
* if an index has a negative value, it counts backward from the end of the list.

the "in" operator also works on lists:

'''

'Edam' in cheeses

True

In [5]:
'Brie' in cheeses

False

<h3>Traversing the list</h3>

In [7]:
'''The most common way to traverse the elements of a list is with a for loop:'''

for cheese in cheeses:
    print(cheese)

Cheddar
Edam
Gouda

In [12]:
'''if you want to write or update the elements, you need the indices. A common way to do that is to combine the functions
len and range. This loop traverses the list and updates each element. len returns the number of elements in the list. 
range returns a list of indices from 0 to n -1, where n is the length of the list. Each time through the loop i gets the index
of the next element. The assignment statement in the body uses i to read the old value of the element and to assign a new value.
'''

for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
    
numbers

[68, 20]

In [14]:
'''although a list can contain another list, the nested list still counts as a single element. 
The length of this list is four: '''

mylist = ['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]

<h3>list operations</h3>

In [15]:
'''The + operator concatenates lists:'''
a = [1,2,3]
b = [4,5,6]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6]

In [16]:
'''similarly, the * operator repeats a list a given number of times:'''

[0] * 4

[0, 0, 0, 0]

In [17]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
'''The first example repeats [0] four times. The second example repeats the list [1, 2, 3] three times.'''

'The first example repeats [0] four times. The second example repeats the list [1, 2, 3] three times.'

<h3>List slices</h3>

In [19]:
'''the slice operator also works on lists: '''
t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3]

['b', 'c']

In [20]:
t[:4]

['a', 'b', 'c', 'd']

In [21]:
t[3:]

['d', 'e', 'f']

In [22]:
'''if you omit the first index, the slice starts at the beginning. if you omit the second, the slice goes to the end. 
so if you omit both, the slice is a copy of the whole list.'''

t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [23]:
'''a slice operator on the left side of an assignment can update multiple elements:'''

t = ['a', 'b', 'c', 'd', 'e', 'f']
t[1:3] = ['x', 'y']
print(t)

['a', 'x', 'y', 'd', 'e', 'f']

<h3>list methods</h3>

In [24]:
'''Python provides methods that operate on lists. For example, append adds a new element to the end of a list:'''

t = ['a', 'b', 'c']
t.append('d')
print(t)

['a', 'b', 'c', 'd']

In [31]:
'''sort arranges the elements of the list from low to high:'''
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
t

['a', 'b', 'c', 'd', 'e']

In [30]:
'''list methods are all void, they modify the list and return None. If you accidentally write t = t.sort(),
you will be disappointed with the result.'''

print(t = t.sort())

AttributeError: 'NoneType' object has no attribute 'sort'

<h3>map, filter and reduce</h3>

In [42]:
'''adding up the elements of a list is such a common operation that Python provides it as a built-in function, sum:'''

t = [1,2,3]
sum(t)

6

In [51]:
'''Exercise 10.1 Write a function called nested_sum that takes a nested list of integers and adds up
the elements from all of the nested lists:'''

def nested_sum(a):
    b = []
    for i in a:
        b.append((sum(i)))
    print(sum(b))

a = [[1,2,3],[1,2,3],[1,2,3]]
nested_sum(a)

18

In [59]:
'''sometimes you want to traverse one list while building another. For example, the following code takes a list
of strings and returns a new list that contains capitalized strings: '''

def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res

a = ['a', 'b', 'c', 'd']
capitalize_all(a)

['A', 'B', 'C', 'D']

In [62]:
'''Exercise 10.2 Use capitalized_all to write a function named capitalize_nested that takes 
a nested list of strings and returns a new nested list with all strings capitalized.'''

def capitalize_nested(t):
    b = []
    for i in t:
        b.append(capitalize_all(i))
    print(b)

t = [['a', 'b', 'c'], ['a', 'b', 'c']]
capitalize_nested(t)

[['A', 'B', 'C'], ['A', 'B', 'C']]

In [63]:
'''another common operation is to select some of the elements from a list and return a sublist.
For example, the following function takes a list of strings and returns a list that contains only
the uppercase strings:'''

def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res

s = ['s', 'T', 'u', 'V']
only_upper(s)

['T', 'V']

In [ ]:
'''an operation like only_upper is called a filter because it selects some of the elements and filters out the others.'''

In [94]:
'''Exercise 10.3 Write a function that takes a list of numbers and returns the cumulative sum; that is, a new
list where the ith element is the sum of the first i + 1 elements from the original list. For example, the cumulative sum
of [1,2,3] is [1,3,6]'''

def cumul_sum(t):
    b = []
    b.append(t[0])
    t[1] = t[0] + t[1]
    b.append(t[1])
    t[2] = t[1] + t[2]
    b.append(t[2])
    return b

b = [1,2,3]
cumul_sum(b)

[1, 3, 6]

In [92]:
# with a for loop
def sigma(numbers):
    sums = []
    total = 0
    for i in numbers:
        total += i
        sums.append(total)
    print(sums)

numbers = [1,2,3]
sigma(numbers)

[1, 3, 6]