<h3>Tuples are immutable</h3>

In [1]:
'''a tuple is a sequence of values. the values can be any type, and they are indexed by integers.'''

t = 'a', 'b', 'c', 'd', 'e'
t

('a', 'b', 'c', 'd', 'e')

In [2]:
t1 = 'a'

In [3]:
type(t1)

str

In [4]:
type(t)

tuple

In [5]:
'''another way to create a tuple is the built-in function tuple. With no argument, it creates an empty tuple: '''

t = tuple()
t

()

In [6]:
'''if the argument is a sequence (string, list or tuple), the result is a tuple with the elements of a sequence: '''

t = tuple('lupins')
t

('l', 'u', 'p', 'i', 'n', 's')

In [7]:
'''most list operators also work on tuples. The bracket operator indexes an element: '''
t = ('a', 'b', 'c', 'd', 'e')
t[0]

'a'

In [8]:
t[1:3]

('b', 'c')

In [9]:
'''but if you try to modify one of the elements of the tuple, you get an error: '''

t[0] = 'A'

TypeError: 'tuple' object does not support item assignment

In [10]:
'''because tuples are immutable, you can't modify the elements. But you can replace one tuple
with another. this statement makes a new tuple and then makes t refer to it.'''

t = ('A',) + t[1:]
t

('A', 'b', 'c', 'd', 'e')

In [11]:
'''The relational operators work with tuples and other sequences; Python starts by comparing the first element from
each sequence. If they arenÂ´t equal, it goes on to the next elements, and so on, until it finds elements that differ.'''
(0, 1, 2) < (0, 3, 4)

True

In [12]:
(0, 1, 2000000) < (0, 3, 4)

True

<h3>Tuple assignment</h3>

In [14]:
'''It is often useful to swap the values of two variables. With conventional assignments, you have
to use a temporary variable. For example, to swap a and b:'''
a = 1
b = 2
temp = a
a = b
b = temp

In [15]:
'''this solution is cumbersome; tuple assignment is more elegant. The left side is a tuple of variables;
the right side is a tuple of expressions. Each value is assigned to iets respective variable. All the right expressions
on the right side are evaluated before any of the assignments. '''

a, b = b, a

In [16]:
'''More generally, the right side can be any kind of sequence (string, list or tuple). For example, 
to split an email address into a user name and a domain, you could write: '''

addr = 'monty@python.org'
uname, domain = addr.split('@')

In [17]:
'''The return value from split is a list with two elements; the first element is assigned to 
uname, the second to domain.'''

uname

'monty'

In [18]:
domain

'python.org'

In [ ]:
'''The return value from split is a list with two elements; the first element is assigned to uname,
the second to domain.'''

<h3>Tuples as return values</h3>

In [20]:
'''Strictly speaking, a function can only return one value, but if the value is a tuple, the effect
is the same as returning multiple values. For example, if you want to divide two integers and compute
the quotient and remainder, it is inefficient to compute x/y and then x%y. It is better to compute them both
at the same time. 

The built-in function divmod takes two arguments and returns a tuple of two values, the
quotient and remainder. You can store the result as a tuple: '''

t = divmod(7, 3)
t

(2, 1)

In [21]:
'''or use tuple assignment to store the elements separately: '''

quot, rem = divmod(7, 3)
quot

2

In [22]:
rem

1

In [24]:
'''Here is an example of a function that returns a tuple: '''

def min_max(t):
    return min(t), max(t)

'''max and min are built-in functions that find the largest and smallest elements of a sequence.
min_max computes both and returns a tuple of two values. '''

t = (33,55,99,1001)
min_max(t)

(33, 1001)

<h3>Variable-length argument tuples</h3>

In [25]:
'''Functions can take a variable number of arguments. A parameter name that begins with * gathers arguments
into a tuple. For example, printall takes any number of arguments and prints them: '''

def printall(*args):
    print(args)
    
printall(1, 2.0, '3')

(1, 2.0, '3')

In [26]:
'''The complement of gather is scatter. If you have a sequence of values and you want to pass it to a function
as multiple arguments, you can use the * operator. For example, divmod takes exactly two arguments, it doesnÂ´t work
with a tuple: '''

t = (7, 3)
divmod(t)

TypeError: divmod expected 2 arguments, got 1

In [27]:
'''But if you scatter the tuple, it works: '''
divmod(*t)

(2, 1)

In [28]:
'''Many of the built-in functions use variable-length argument tuples. For example, max and min can take
any number of arguments: '''

max(1,2,3)

3

In [29]:
'''but sum does not: '''

sum(1,2,3)

TypeError: sum expected at most 2 arguments, got 3

In [33]:
'''As an exercise, write a function called sumall that takes any number of arguments and returns their sum.'''

def sumall(values, start=0):
    total = start
    for value in values:
        total = total + value
    return total
    
t = (1,2,3,4)
sumall(t)

10