<h2>Chapter 2 Variables, experessions and statements</h2>

In [ ]:
a = 300
b = "hallo"
c = None

In [ ]:
# If you are not sure what type a value has, the interpreter can tell you.
type(a)

In [ ]:
type(b)

In [ ]:
type(c)

In [ ]:
# Python interprets 1,000,000 as a commaseparated sequence of integers.
1,000,000

<h3>Operators and operands</h3>

In [15]:
# The +,-,*,/ and ** perform addition, subtraction, multipliation, division and exponentiation:
20+32

52

In [17]:
10-1

9

In [18]:
10*10

100

In [19]:
100/10

10.0

In [20]:
2**3

8

In [21]:
# floor division
10//3

3

In [22]:
# returns float
10/3.0

3.3333333333333335

In [23]:
# also returns float
10/3

3.3333333333333335

In [24]:
# explicitly returns int
int(10/3)

3

<h3>String operations</h3>

In [25]:
first = 'throat'
second = 'warbler'
print(first + second)

throatwarbler

In [27]:
# concatenating strings and integers doesn't work in Python 3
my = 10
first = 'youth'
print(my + first)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
# solution:
my = 10
first = 'youth'
print(str(my) + first)

10youth

<h3>Debugging</h3>

In [29]:
# spaces in variable names yield syntax errors
bad name = 3

SyntaxError: invalid syntax (<ipython-input-29-c8ace6d88fc1>, line 1)

<h3>Exercises</h3>

In [31]:
#Assume that we execute the following assignment statements:

width = 17
height = 12.0
delimiter = '.'

'''For each of the following expressions, write the value of the expression and the type (of the value of
the expression).
1. width/2
2. width/2.0
3. height/3
4. 1 + 2 * 5
5. delimiter * 5
Use the Python interpreter to check your answers.'''

'For each of the following expressions, write the value of the expression and the type (of the value of\nthe expression).\n1. width/2\n2. width/2.0\n3. height/3\n4. 1 + 2 * 5\n5. delimiter * 5\nUse the Python interpreter to check your answers.'

In [32]:
width/2

8.5

In [33]:
width/2.0

8.5

In [34]:
height/3

4.0

In [35]:
1 + 2 * 5

11

In [36]:
delimiter * 5

'.....'

In [ ]:
''''Exercise 2.3. Practice using the Python interpreter as a calculator:

1. The volume of a sphere with radius r is 4/3pi*r3. What is the volume of a sphere with radius 5?
Hint: 392.7 is wrong!'''

import math

4/3 * (math.pi *(5 ** 3))

In [46]:
'''2. Suppose the cover price of a book is $24.95, but bookstores get a 40% discount. Shipping costs
$3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for
60 copies?'''

total_prince = (60 * (24.95 * .60) + 3 + (.75 * 57))
print("Total prince = $" + (str(round(total_prince))))

Total prince = $944

In [48]:
'''3. If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then 3 miles at
tempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast?'''

total_time_run = 8.15 + (3 * 7.12) + 8.15
print(total_time_run) #37.66 min = 38.6 min/s
# home_for_breakfast = 6.52 + 38.6 = 7.30 (+6s)

37.66