<h3>Deleting elements</h3>

In [ ]:
'''There are several ways to delete elements from a list. If you know the index of the element you want, you
can use pop:'''

t = ['a', 'b', 'c']
x = t.pop(1)
print(t)

In [ ]:
print(x)

In [ ]:
'''If you donÂ´t need the removed value, you can use the del operator:'''

t = ['a', 'b', 'c']
del t[1]

In [ ]:
print(t)

In [ ]:
'''If you know the element you want to remove (but not the index), you can use remove. The return value from
remove is None'''

t = ['a', 'b', 'c']
t.remove('b')
print(t)

In [ ]:
'''To remove more than one element, you can use del with a slice index.
As usual, the slice selects all the elements up to, but not including, the second index.'''

t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
print(t)

In [ ]:
'''Exercise 10.4 Write a function called middle that takes a list and returns a new list that contains all but
the first and last elements. So middle([1,2,3,4]) should return [2,3].'''

def middle(a):
    del a[-1]
    del a[0]
    print(a)

a = [1,2,3,4]
middle(a)

In [ ]:
'''Exercise 10.5 Write a function called chop that takes a list, modifies it by removing the first and last element,
and returns None'''

def chop(a):
    a.remove(a[-1])
    b = a.remove(a[0])
    print(b)
    
a = [1,2,3,4]
chop(a)

<h3>Lists and strings</h3>

In [ ]:
'''A string is a sequence of characters and a list is a sequence of values, but a list is not the same as a string.
To convert from a string to a list of characters, you can use list:'''

s = 'spam'
t = list(s)
print(t)

In [ ]:
'''The list function breaks a string into individual letters. If you want to break a string into words,
you can use the split method:'''

s = 'pining for the fjords'
t = s.split()
print(t)

In [ ]:
'''An optional argument called a delimiter specifies which character to use as word boundaries. 
The following example uses a hyphen as a delimiter:'''

s = 'spam-spam-spam'
delimiter = '-'
s.split(delimiter)

In [ ]:
'''join is the inverse of split. It takes a list of strings and concatenates the elements. join is
a string method, so you have to invoke on the delimiter and pass the list as a parameter:'''

t = ['pining', 'for', 'the', 'fjords']
delimiter = ' '
delimiter.join(t)

In [ ]:
'''To concatenate strings without spaces, you can use the empty string '', as a delimiter'''

t = ['pining', 'for', 'the', 'fjords']
delimiter = ''
delimiter.join(t)

<h3>Object and values</h3>

In [ ]:
'''To check whether two variables refer to the same object, you can use the is operator: '''

a = 'banana'
b = 'banana'
a is b

In [ ]:
'''But when you create two lists, you get two objects:'''

a = [1,2,3]
b = [1,2,3]
a is b

In [ ]:
'''In this case we would say that the two lists are equivalent, because they have the same elements, but not identical,
because they are not the same object.'''

<h3>Aliasing</h3>

In [53]:
'''An object with more than one reference has more than one name, so we say that the object is aliased.
If the aliased object is mutable, changes made with one alias affect the other: '''

a = [1,2,3]
b = a
b is a

True

In [54]:
b[0] = 17
print(a)

[17, 2, 3]

<h3>List arguments</h3>

In [56]:
'''When you pass a list to a function, the function gets a reference to the list. If the function modifies a 
list parameter, the caller sees the change. For example, delete_head removes the first element from a list: '''

def delete_head(t):
    del t[0]
    
letters = ['a', 'b', 'c']
delete_head(letters)
print(letters)

['b', 'c']

In [ ]:
'''the parameter t and the variable letters are aliases for the same object.'''

In [57]:
'''it is important to distinguish between operations that modify lists and operations that create new lists.
for example, the append method modifies a list, but the + operator creates a new list: '''

t1 = [1, 2]
t2 = t1.append(3)
print(t1)

[1, 2, 3]

In [58]:
print(t2)

None

In [59]:
t3 = t1 + [4]
print(t3)

[1, 2, 3, 4]

In [60]:
'''the difference is important when you write functions that are supposed to modify lists.
an alternative is to write a function that creates and returns a new list. For example, tail returns all
but the first element of a list: '''

def tail(t):
    return t[1:]

# this function leaves the original list unmodified:
letters = ['a', 'b', 'c']
rest = tail(letters)
print(rest)

['b', 'c']